$firstFont: "Poppins", sans-serif;
$secondFont: "Dancing Script", cursive;
$thirdFont: "Cedarville Cursive", cursive;
$bodyBackground: #FCD2A5;
$backgroundColor: #FEF4DC;
$firstRed: #F7777C;
$secondRed: #ce4549;
$white: #fff;
$firstGreen: #46826C;
$secondGreen: #346453;
$firstGrey: #ced4da;
$secondGrey: #6c757d;